<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>No.</th>
      <th>問題名</th>
      <th>得点</th>
      <th>ジャンル</th>
      <th>回答状況</th>
    </tr>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.id %></td>
        <td><%= link_to problem.title, problem_url(problem) %></td>
        <td><%= problem.point %></td>
        <td><%= problem.genre.name %></td>
        <td>
        <% if current_user.admin_flag.! %>
          <% if problem.user == current_user %>
            <span class="label label-success">最速正答</span>
          <% elsif problem.users.index(current_user).present? %>
            <span class="label label-primary">正解</span>
          <% end %>
        <% else %>
          (´･8･`)
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
