<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>詳細...</th>
      <th>対象問題</th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= link_to notification.title, notification_path(notification) %></td>
        <td><%= notification.description[0,20] %><%= '......' if notification.description.length > 20 %></td>
        <td><%= 'No.' + notification.problem.id.to_s + ' ' + notification.problem.title if notification.problem.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
